.DS_Store
.thumbs.db
.venv/
.env
.env.*

node_modules
web/node_modules
web/.quasar
web/dist
web/.env
web/.env.*
!web/.env.example
supabase/.temp
web/quasar.config.*.temporary.compiled*
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/.idea
web/*.suo
web/*.ntvs*
web/*.njsproj
web/*.sln
python/.venv/
python/__pycache__/
python/.ipynb_checkpoints/
python/credentials/
python/images/
